#banner
  .banner_content
    %h1 NOTEN
    %p Your Online Notebook. Never forget an idea again.
    %button= link_to "View Notes", notes_path 
    
#testimonial
  .wrapper
    %p.quote "The best notebook application there is. Start noting now!"
    %p.name - Rayaan Attari
    
#callouts
  .callout_inner
    .wrapper
      .callout
        =image_tag "pencil_icon.png"
        %h2 Simple
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      .callout
        =image_tag "fast_icon.png"
        %h2 Fast
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      .callout
        =image_tag "free_icon.png"
        %h2 Free
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  
#bottom_cta
  .wrapper
    %h2 Hey you! *cricket noises* Yeah, you!
    %p Click to create your first note!
    %button= link_to "New Note", new_note_path
    
%footer
  %p &copy; Rayaan Attari